
{% import "config/keys.twig" as keys %}

{% extends "base.twig" %}

{% block content %}
  <div class="map" id="map-container">

  </div>
  <div class="col-12 d-block d-md-none" style="height: 50vh; z-index: -1;">

  </div>
	<div class="content-wrapper col-12 col-md-6 mr-auto map__overlay p-3">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>

		{% include "partial/components/solution.twig" with {'size' : 'full'} %}
	</div><!-- /content-wrapper -->

  <!-- Include the Google Maps API library - required for embedding maps -->
  <script defer
      src="https://maps.googleapis.com/maps/api/js?key={{keys.map_key}}&map_ids=4560795f5b32c804&callback=initMap">
  </script>

  <script type="text/javascript">

    let map;

    function initMap() {
      const latLng = { lat: 40.6887488962537, lng: -73.98508528787013 };
      const understudy = { lat: 40.69180540869296, lng: -73.98328298946461 };

      map = new google.maps.Map(document.getElementById("map-container"), {
        center: latLng,
        zoom: 18,
        //styles: styles,
        mapId: "4560795f5b32c804",
      });

      var marker = new google.maps.Marker({
        position: { lat: 40.6799786964414, lng: -73.9922611675729 },
        map,
        label: "🐝"
      });

      const infowindow = new google.maps.InfoWindow({
        content: '<p class="map-label">Gowanus Apiary</p>',
      });

      infowindow.open(map, marker);

      var tangerineMarker = new google.maps.Marker({
        position: latLng,
        animation: google.maps.Animation.DROP,
        map,
        label: "🧘"
      });


      const infoWindowLoad = new google.maps.InfoWindow({
        content: '',
      })

      infoWindowLoad.open(map, tangerineMarker)

    }

  </script>
{% endblock %}
